/*******************************************************************************
*                                                                              *
* Palette: 41508B, 6176A4, 4AA7B2, E6D8B3, EB934C                                 *
*                                                                              *
*******************************************************************************/

/*******************************************************************************
*                                                                              *
* EasyWallet                                                                   *
*                                                                              *
*******************************************************************************/

.root {
    -fx-border-color: white;
    -fx-border-width: 3 3 3 3;
}

.button {
    -fx-background-radius:  0;
}

.primary-color {
    -fx-background-color: #8bc34a;
    /*-fx-border-width: 0;*/
    /*-fx-border-color: -fx-background-color;;*/
}

.secondary-color {
    -fx-background-color: #eb934c;
}

.primary-button {
    -fx-background-color: #8bc34a;
}