/*******************************************************************************
*                                                                              *
* Palette: 41508B, 6176A4, 4AA7B2, E6D8B3, EB934C                              *
*                                                                              *
*******************************************************************************/
@import "colors.css";
@import "borders.css";

/*******************************************************************************
*                                                                              *
* EasyWallet                                                                   *
*                                                                              *
*******************************************************************************/

.root {
    -fx-background-color: -ew-primary-bg-color;
    -fx-border-color: white;
    -fx-border-width: 3 3 3 3;
}

.button {
    -fx-border-radius: 0;
    -fx-border-color: rgba(0, 0, 0, 0.33);
    -fx-background-radius:  0;
}

.rounded {
    -fx-background-radius: 25;
    -fx-border-radius: 25;
    -fx-border-width: 0;
}

.icon-button {
    -fx-fill: -ew-neutral-dark-gray;
    -fx-background-color: -ew-neutral-light-gray;
}

.primary-color {
    -fx-background-color: -ew-primary-color;
}

.secondary-color {
    -fx-background-color: -ew-secondary-color;
}

.primary-button {
    -fx-background-color: -ew-primary-color;
}

.error {
    -fx-background-color: white;
    -fx-border-width: 2 0 2 0;
    -fx-border-color: -ew-error-color;
    -fx-margin: 3;
}

.error .label, .error .button {
    -fx-text-fill: -ew-error-color;
}

.titled-pane {
    -fx-background-color: white;
}

#btn_add_wallet {
    -fx-border-width: 0 0 0 1;
    -fx-border-color: white;
}

#btn_refresh {
    -fx-border-width: 0 1 0 0;
    -fx-border-color: white;
}

/*******************************************************************************
*                                                                              *
* MaterialFX                                                                   *
*                                                                              *
*******************************************************************************/
.mfx-text-field, .mfx-radio-button {
    -mfx-main: -ew-primary-color;
}

.mfx-dialog {
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-style: solid;
}

.mfx-button .mfx-ripple-generator {
    -mfx-ripple-color: -ew-primary-color;
}

.mfx-dialog .actions-pane .mfx-button {
    -fx-background-radius: 0;
    -fx-pref-width: 75;
}

.mfx-text-field:invalid .floating-text {
    -fx-text-fill: -mfx-red;
}

/** MFXTableView **/

.mfx-table-view {
    -fx-border-width: 0px;
    -fx-min-height: 450px;
    -fx-min-width: 700px;
}

.mfx-table-view .columns-container {
    -fx-border-width: 0px;
    -fx-background-color: -ew-secondary-color;
}

.mfx-table-view .columns-container .mfx-table-column {
    -fx-border-width: 0 0 0 1;
    -fx-border-color: white;
    -fx-font-weight: bold;
}

.mfx-table-view .default-footer .mfx-icon-wrapper .mfx-ripple-generator {
    -mfx-ripple-radius: 18;
    -mfx-ripple-color: -ew-primary-color;
}

.mfx-filter-dialog {
    -fx-border-color: -ew-primary-color;
    -fx-border-width: 3px;
    -fx-background-radius: 5;
}

.mfx-filter-pane .header {
    visibility: hidden;
}

.mfx-filter-pane .mfx-combo-box .caret .mfx-ripple-generator {
    -mfx-ripple-color: -ew-primary-color-lighter;
}

.mfx-filter-pane .mfx-button .mfx-ripple-generator {
    -mfx-ripple-color: -ew-primary-color-lighter;
    -mfx-ripple-radius: 45;
}

.mfx-filter-pane .filter-combo {
    -fx-background-color: -ew-primary-color;
    -fx-border-width: 0px;
}

.mfx-filter-pane .predicates-combo {
    -fx-background-color: -ew-primary-color;
    -fx-border-width: 0px;
}

.mfx-filter-pane .active-filter {
    -fx-background-color: -ew-secondary-color-light;
}

.mfx-filter-pane .mfx-button {
    -fx-pref-width: 135;
    -fx-pref-height: 36;
    -fx-background-color: -mfx-main;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-border-width: 0px;
    -fx-text-fill: white;

    -fx-font-family: "Open Sans Bold";
}
