/*******************************************************************************
*                                                                              *
* Palette: 41508B, 6176A4, 4AA7B2, E6D8B3, EB934C                              *
*                                                                              *
*******************************************************************************/
@import "colors.css";
@import "borders.css";


/*******************************************************************************
*                                                                              *
* EasyWallet                                                                   *
*                                                                              *
*******************************************************************************/

.rounded {
    -fx-background-radius: 25;
    -fx-border-radius: 25;
}

/*******************************************************************************
*                                                                              *
* MaterialFX                                                                   *
*                                                                              *
*******************************************************************************/
.mfx-text-field {
    -mfx-main: -ew-primary-color;
}

.mfx-dialog {
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-style: solid;

    /* These are note picked up for some reason... see AddWalletDialog
    -fx-border-color: black;
    -fx-border-width: 1;
    */
}

.mfx-dialog .actions-pane .mfx-button {
    -fx-background-radius: 0;
    -fx-pref-width: 75;
}

/*
.mfx-text-field:invalid {
    -fx-background-color: -mfx-red;
}
*/

.mfx-text-field:invalid .floating-text {
    -fx-text-fill: -mfx-red;
}



/*******************************************************************************
*                                                                              *
* EasyWallet                                                                   *
*                                                                              *
*******************************************************************************/

.root {
    -fx-border-color: white;
    -fx-border-width: 3 3 3 3;
}

.button {
    -fx-background-radius:  0;
}

.primary-color {
    -fx-background-color: -ew-primary-color;
    /*-fx-border-width: 0;*/
    /*-fx-border-color: -fx-background-color;;*/
}

.secondary-color {
    -fx-background-color: -ew-secondary-color;
}

.primary-button {
    -fx-background-color: -ew-primary-color;
}